body {
  color: #274765;
}

h2 {
  font-family: "Times New Roman";
  font-size: 50px;
  color: #274765;
  background-color: #F1F1F1;
}

.navbar-laravel {
  background-color: #8BB1D5;
}

.header .logo {
  width: 120px;
  height: 50px;
}

.headline .caption {
  position: relative;
  width: 350px;
}
.headline .caption .image img {
  width: 100%;
  border: 1px solid rgba(241, 241, 241, 0.3098039216);
  border-radius: 20px;
}
.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(147, 147, 147, 0.3333333333);
  border: 1px solid rgba(147, 147, 147, 0.3333333333);
  border-radius: 20px;
}
.headline .caption .title h1 {
  color: #FFF;
  font-size: 1.2em;
  font-family: "HiraMinProN-W3";
  font-weight: bold;
  text-align: center;
  padding: 10px 5px 5px 5px;
}
.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}
.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}
.posts .post .body {
  font-size: 0.8em;
}
.posts .post .image img {
  width: 250px;
}
